{{/* Ensure width is properly set */}}
{{ $width := .width | default -1 }}

{{/* If width is invalid or larger than original, use original width */}}
{{ if or (eq $width -1) (gt $width .img.Width) (not $width) }}
    {{ $width = .img.Width }}
{{ end }}

{{/* Only resize if width is valid and resizing is needed */}}
{{ if and (lt $width .img.Width) (ne $width -2) }}
    {{ with .img.Resize (printf "%dx webp q%d %s" $width .quality .webpHint) }}
        <source srcset="{{ .RelPermalink }}" type="image/webp" />
    {{ end }}
{{ else }}
    {{ warnf "Skipping resize: Using original image width (%d) for image: %s" .img.Width .img }}
{{ end }}
