{{ with .img }}
 <picture>
  {{ $opts := dict
   "img" $.img
   "quality" $.quality
   "webpHint" $.webpHint
  }}

  {{/* For each breakpoint, convert image to WebP and resize according to `$widths` */}}
  {{ range $i, $v := $.breakpoints }}
   {{ $width := index $.widths (add $i 1) | default -1 }}
   {{ $opts = dict "breakpoint" $v "width" $width | merge $opts }}

   {{/* Check if .img has .Key (page resource) or is from assets */}}
   {{ if $.img.Key }}
       {{ partialCached "tools/__img" $opts $.img.Key $opts }}
   {{ else }}
       {{ partial "tools/__img" $opts }}
   {{ end }}

  {{ end }}

  {{/* Handle the smallest breakpoint */}}
  {{ $width := index $.widths 0 }}
  {{ $width = cond (lt $.img.Width $width) -1 $width }}
  {{ $opts = dict "breakpoint" nil "width" $width | merge $opts }}

  {{ if $.img.Key }}
      {{ partialCached "tools/__img" $opts $.img.Key $opts }}
  {{ else }}
      {{ partial "tools/__img" $opts }}
  {{ end }}

  {{/* Fallback to the original, unprocessed image */}}
  {{ $imgURL := "" }}
  {{ if $.img.Key }}
      {{ $imgURL = .RelPermalink }}
  {{ else }}
      {{ $imgURL = .Permalink }}
  {{ end }}

  <img loading="lazy" class="img-fluid mx-auto d-block rounded mb-4" src="{{ $imgURL }}" height="{{ .Height }}" width="{{ .Width }}"
   type="{{ .MediaType }}" {{$attributes|safeHTMLAttr}} />
 </picture>
{{ end }}
