{{/* Set default options */}}
{{ $opts := . | merge (dict
 "alt" ""
 "class" ""
 "loading" ""
 "webpHint" "photo"
 "breakpoints" (slice 480 960 1920)
 "widths" (slice 480 960 1920 -1)
 "quality" 75)
}}

{{/* Ensure the image is properly set */}}
{{ if .img }}
    {{/* Check if the image is a page resource (has .Key) */}}
    {{ if .img.Key }}
        {{ partialCached "tools/_img" $opts . .img.Key }}
    {{ else }}
        {{/* If it's from assets, just pass it without caching */}}
        {{ partial "tools/_img" $opts }}
    {{ end }}
{{ else }}
    <p>Image not available</p>
{{ end }}
