{{ $img := (.Resources.ByType "image").GetMatch "featured-image" }}

{{/* If the image is missing, try loading from `assets/images/` */}}
{{ if not $img }}
    {{ $imgPath := "images/default-featured.jpg" }}  {{/* Modify the path as needed */}}
    {{ $img = resources.Get $imgPath }}
{{ end }}

<a href="{{ .Permalink | absURL }}">
    {{ with $img }}
        <div class="embed-responsive embed-responsive-16by9">
            
            <img class="card-img-top m-0 p-0 embed-responsive-item rounded" style="object-fit:contain" 
                 src="{{ .RelPermalink }}" 
                 alt="{{ $.Title }}" 
                 srcset="{{ .RelPermalink }} 480w,
                         {{ .RelPermalink }} 960w,
                         {{ .RelPermalink }} 1920w" 
                 sizes="(max-width: 480px) 480px, 
                        (max-width: 960px) 960px, 
                        1920px" 
                 width="1920" height="1080">

            <div class="shadow-sm p-0 bg-dark rounded-left border-left border-top border-bottom border-light 
                        text-center d-flex align-items-center justify-content-center"
                 style="position:absolute; top:1em; right:0; width: 5em; height: 2em;">
                <span class="text-light m-0 p-0">NEW</span>
            </div>
        </div>
    {{ else }}
        {{/* Placeholder image if no featured image is found */}}
        <img class="card-img-top m-0 p-0 embed-responsive-item rounded" 
             src="/images/placeholder.jpg" 
             alt="No Image Available"
             width="1920" height="1080">
    {{ end }}
</a>
